<!-- CARD -->
<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>

<!-- BUTTON -->
<input class="btn btn-primary" type="button" value="Input">

<!-- INPUT -->
<div class="form-group">
  <label for="newTitle">Neuer Eintrag</label>
  <input type="text" class="form-control" id="newTitle">
</div>

<!-- LIST GROUP -->
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

{{variable}}
[(ngModel)]="variable"
