<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="newTitle">Neuer Eintrag</label>
      <input type="text" class="form-control" id="newTitle" [(ngModel)]="newTitle">
    </div>

    <div class="form-group">
      <label>{{newTitle}}</label>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="button" value="Hinzufügen" (click)="onAdd()" [disabled]="!newTitle">
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h2>Liste</h2>
    <ul class="list-group">
      <li *ngFor="let item of list; let index = index" class="list-group-item">
        {{item}}
        <input class="btn btn-danger float-right" type="button" value="x" (click)="onDeleteButton(index)">
      </li>
    </ul>
  </div>
</div>
